.not-found-bg-container {
  background-color: #000000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.not-found-image {
  width: 250px;
}

@media screen and (min-width: 768px) {
  .not-found-image {
    width: 350px;
  }
}

.not-found-text-container {
  width: 75%;
  text-align: center;
}

.not-found-title {
  font-family: 'roboto';
  font-size: 18px;
  color: #ffffff;
  font-weight: 500;
  margin-top: 30px;
}

@media screen and (min-width: 768px) {
  .not-found-title {
    font-size: 28px;
  }
}

.not-found-desc {
  font-family: 'roboto';
  font-size: 14px;
  color: #f1f5f9;
}
