.filters-sub-heading {
  font-family: 'roboto';
  font-size: 16px;
  color: #ffffff;
  font-weight: 500;
  margin-top: 20px;
}

.employment-list-container {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

.employment-item-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.employment-label {
  font-family: 'roboto';
  font-size: 14px;
  color: #f8fafc;
  margin-left: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.filters-split-line-hr-tag {
  border: 1px solid #b6c5ff;
  margin-top: 20px;
}

.salary-range-list-container {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

.salary-range-item-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.salary-range-label {
  font-family: 'roboto';
  font-size: 14px;
  color: #f8fafc;
  margin-left: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}
